<p>cypto-dashboard works!</p>
<div>
        <label for = "date">Date</label>
        <p-calendar [(ngModel)]="value" dateFormat="yy-mm-dd"></p-calendar>
    <input type="text" [(ngModel)]="search" placeholder=" Enter coin">
    <button type="button" (click)="getCoinData()"> Search</button>
</div>



<div>
    <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [yaxis]="chartOptions.yaxis"
    [title]="chartOptions.title"
  ></apx-chart>
</div>
